body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
    background-color: antiquewhite;
}

section {
    display: grid;
    height: 35rem;
    justify-content: center;
    align-items: center;
    transform: translateY(-100px);
    opacity: 0;
    transition: 2000ms;
    padding: 3rem;
    /* background-color: yellowgreen; */
}

section.show {
    transform: translateX(0);
    opacity: 1;
}

.intro {
    background-image: url(./img/intro-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 4rem;
    height: 100vh;
}

.intro::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 5, 26, 0.5);
    z-index: -1;
}

/* .intro-first {
    width: 30rem;
} */

.intro-first-info {
    text-align: right;
    border-radius: 10px;
    padding: 2rem;
    background-color: hsla(0, 0%, 100%, 0.7);  
    box-shadow: 0px 0px 7px 5px rgba(255, 255, 255, 0.7);
}

.intro-first img {
    width: 15rem;
}

.intro-first-links {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
}

.intro-first a {
    text-align: center;
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.intro-first a:first-child {
    background-color: hsla(0, 0%, 100%, 1);
}

.intro-first a:last-child {
    background-color: rgb(213, 36, 36, 1);
}

/* .intro-second {
    width: 30rem;
} */
.intro-second img {
    height: 20rem;
    border-radius: 50%;
}

.grid section:nth-child(odd):not(.intro) {
    background: #2d3d67;
}

.testimonials h1{
    margin: 0px;
    color: black;
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {
    .intro-second img {
        height: 15rem;
        border-radius: 50%;
    }

    .intro-first-links {
        margin-top: 2rem;
    }

    .intro {
        flex-direction: column-reverse;
    }
}

/* slider */
.wrapper {
    background-color:rgba(0, 5, 26, 1);
    /* position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%; */
    width: 80vw;
    max-width: 41em;
    min-height: 25em;
    border-radius: 0.6em;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    position: relative;
    display: flex;
}

.testimonial-container {
    width: 85%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: 1.8em 1.2em;
}

.wrapper button {
    font-size: 1.8em;
    height: 2.2em;
    width: 2.2em;
    background-color: #ffffff;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    color:rgba(0, 5, 26, 1);;
    border: 5px solid rgba(0, 5, 26, 1);;
    cursor: pointer;
    border-radius: 50%;
}

button#next {
    right: -1.1em;
}

button#prev {
    left: -1.1em;
}

.testimonial-container img {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 6em;
    aspect-ratio: 1/1;
    object-fit: cover;
    
}
.testimonial-container p {
    color: #8c8c90;
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    margin: 0;
}

.p-name, .p-text {
    padding-top: 1rem;
}

.p-text {
    font-style: italic;
}


@media screen and (max-width: 650px) {
    .wrapper {
        font-size: 14px;
    }
}